# mkdocs.yml
site_name: Safeguards

theme:
  name: material
  logo: assets/safeguards-logo-icon.png
  favicon: assets/wandb_logo.svg
  palette: 
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.tabs.link
    - content.tooltips
    - navigation.tracking

plugins:
  - mkdocstrings
  - search
  - minify
  - glightbox
  - mkdocs-jupyter:
      include_source: True


markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - attr_list
  - md_in_html

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Home: 'index.md'
  - Guardrails:
    - Guardrail Base Class: 'guardrails/base.md'
    - Guardrail Manager: 'guardrails/manager.md'
    - Entity Recognition Guardrails:
      - About: 'guardrails/entity_recognition/entity_recognition_guardrails.md'
      - Regex Entity Recognition Guardrail: 'guardrails/entity_recognition/regex_entity_recognition_guardrail.md'
      - Presidio Entity Recognition Guardrail: 'guardrails/entity_recognition/presidio_entity_recognition_guardrail.md'
      - Transformers Entity Recognition Guardrail: 'guardrails/entity_recognition/transformers_entity_recognition_guardrail.md'
      - LLM Judge for Entity Recognition Guardrail: 'guardrails/entity_recognition/llm_judge_entity_recognition_guardrail.md'
    - Prompt Injection Guardrails:
      - Classifier Guardrail: 'guardrails/prompt_injection/classifier.md'
      - LLM Guardrail: 'guardrails/prompt_injection/llm_guardrail.md'
    - Secrets Detection Guardrail: "guardrails/secrets_detection.md"
    - Privilege Escalation Guardrail: "guardrails/privilege_escalation.md"
  - LLM: 'llm.md'
  - Metrics: 'metrics.md'
  - RegexModel: 'regex_model.md'
  - Training:
    - Train Classifier: 'train/train_classifier.md'
    - Train Llama Guard: 'train/train_llama_guard.md'
  - Utils: 'utils.md'

repo_url: https://github.com/soumik12345/guardrails-genie
